.max-width-container {
  padding-top: 80px;
  padding-bottom: 0;
  display: flex;
  position: relative;
  max-width: 1400px;
  margin: 0 auto;
  padding: 32px 32px 64px;
  width: 100%;
  box-sizing: border-box;
}

div {
  display: block;
}

.left-navbar .sticky-content {
  position: relative;
  height: auto;
  top: 140px;
  padding-bottom: 70px;
  margin-top: 0;
  overflow: auto;
}

ul,
nav ul {
  list-style: none;
  list-style-image: none;
}

.left-navbar .categorias li a {
  color: inherit;
}

.left-navbar .categorias li {
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 14px;
}

li {
  text-align: inherit;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.left-navbar h5 {
  font-weight: 600;
  margin-bottom: 11px;
  font-size: 14px;
  text-transform: uppercase;
}

.left-navbar .top-articles {
  max-width: 222px;
}

.left-navbar .top-articles li {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  list-style-type: none;
  position: relative;
  padding: 10px 0;
}

.content-body {
  padding: 60px 0 60px 60px;
  padding-right: 28px;
  overflow: hidden;
  flex: 1 1;
}

.main-page h1 {
  font-size: 40px;
  line-height: 120%;
  margin-bottom: 6px;
}

.main-page h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 8px;
}

.main-page p {
  line-height: 150%;
}

.main-page .articles {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}

.main-page .articles .media-wrapper {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  display: block;
}

.main-page .articles > div {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(33.33% - 32px);
  margin: 0 16px 44px;
}
