.cover {
  text-align: center;
}

.cover p {
  margin: 50px;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#about {
  margin-top: 10%;
}

.image-text {
  margin-top: 50px;
  display: flex;
}

.image-text > img {
  width: 50%;
}

.image-text .text {
  padding-left: 30px;
}

#developers {
  padding-top: 10px;
}
