/*---------------------------------------
      MEDIA QUERIES              
  -----------------------------------------*/

/* Mobile Devices */
@media screen and (max-width: 480px) {
  body {
    font-size: 0.5em;
  }

  .menu a {
    float: none;
    width: 100%;
  }

  .submenu {
    float: none;
    width: 100%;
  }
}

/* Tablets and iPads */
@media screen and (max-width: 768px) {
}

/* Desktops and Large Screens */
@media screen and (max-width: 1200px) {
  body {
    font-size: 1.5em;
  }
}

/*TV's and Extra Large Screens*/
@media screen and (min-width: 1201px) {
  body {
    font-size: 1.2em;
  }
}
