.menu {
  overflow: hidden;
  background-color: #99ddcc;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu a {
  float: right;
  display: block;
  color: #141414;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.submenu {
  text-align: center;
  float: right;
  overflow: hidden;
}

.submenu .submenubtn {
  font-size: inherit;
  border: none;
  outline: none;
  color: #141414;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.menu a:hover,
.submenu:hover,
.submenubtn {
  transition: 0.3s;
  background-color: #f6f6f6;
  color: #141414;
}

.submenu-items {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f6f6f6;
  width: 100%;
  z-index: 2;
}

.submenu-items a {
  text-align: center;
  color: #141414;
}

.submenu-items a:hover {
  transition: 0.3s;
  background-color: #99ddcc;
}

.submenu:hover .submenu-items {
  transition: 0.3s;
  display: block;
  position: fixed;
}
