@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/*---------------------------------------
      GENERAL              
  -----------------------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(21, 21, 21);
  background: linear-gradient(
    107deg,
    rgba(21, 21, 21, 1) 0%,
    rgba(59, 59, 59, 1) 99%
  );
  color: #f6f6f6;
}

h1,
h2,
footer > * {
  text-align: center;
}

a {
  text-decoration: none;
}

a:link {
  color: #f6f6f6;
}

a:visited {
  color: #f6f6f6;
}

a:hover {
  color: #99ddcc;
}

a:active {
  color: #99ddcc;
}

header {
  padding-top: 40px;
}
/*---------------------------------------
      NAVBAR              
  -----------------------------------------*/
.menu {
  overflow: hidden;
  background-color: #99ddcc;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu a {
  float: right;
  display: block;
  color: #141414;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.submenu {
  text-align: center;
  float: right;
  overflow: hidden;
}

.submenu .submenubtn {
  font-size: inherit;
  border: none;
  outline: none;
  color: #141414;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.menu a:hover,
.submenu:hover,
.submenubtn {
  transition: 0.3s;
  background-color: #f6f6f6;
  color: #141414;
}

.submenu-items {
  display: none;
  position: absolute;
  left: 0;
  background-color: #f6f6f6;
  width: 100%;
  z-index: 2;
}

.submenu-items a {
  text-align: center;
  color: #141414;
}

.submenu-items a:hover {
  transition: 0.3s;
  background-color: #99ddcc;
}

.submenu:hover .submenu-items {
  transition: 0.3s;
  display: block;
  position: fixed;
}

/*---------------------------------------
      HOME   
  -----------------------------------------*/
.cover {
  text-align: center;
}

.cover p {
  margin: 50px;
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

#about {
  margin-top: 160px;
}

.image-text {
  margin-top: 50px;
  display: flex;
}

.image-text > img {
  width: 50%;
}

.image-text .text {
  padding-left: 30px;
}

#developers {
  padding-top: 10px;
}

/*---------------------------------------
      DESCRIPTIONS   
  -----------------------------------------*/

.description {
  margin: 50px;
}

/*---------------------------------------
      FORMS & BUTTONS              
  -----------------------------------------*/

.form {
  text-align: center;
  margin: 50px;
}

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 15px;
  color: #141414;
  min-width: 50px;
  text-align: center;
}

.textbox {
  width: 70%;
  padding: 15px;
  border: 1px solid #99ddcc;
  border-radius: 10px;
  text-align: center;
}

.button-go,
.button-fa,
.button {
  width: 35%;
  height: 50px;
  border: none;
  border-radius: 10px;
}

.button {
  background-color: #99ddcc;
}

.button-go {
  background: #f6f6f6;
  border: 1px solid #f6f6f6;
  font-size: 16px;
}

.button-fa {
  background: #4267b2;
  border: 1px solid #3e61a8;
  color: white;
  font-size: 16px;
}

.button:hover {
  transition: 0.3s;
  box-shadow: 0 0 1em #99ddcc;
  cursor: pointer;
}

.button-go:hover {
  transition: 0.3s;
  box-shadow: 0 0 1em #f6f6f6;
  cursor: pointer;
}

.button-fa:hover {
  transition: 0.3s;
  box-shadow: 0 0 1em #4267b2;
  cursor: pointer;
}

.social-login {
  padding-top: 20px;
  padding-bottom: 20px;
}

.user-type {
  padding: 10px;
}

.account-question {
  margin: 10px;
}

/*---------------------------------------
      USER PAGES              
  -----------------------------------------*/
.user {
  text-align: center;
}

#profile {
  width: 50%;
  float: left;
}

#work {
  width: 50%;
  float: left;
}

.work-list {
  list-style-type: none;
  margin-right: 20%;
  margin-left: 20%;
}

.work-list-item {
  padding: 10px;
  overflow: auto;
}

.work-list-item:hover {
  transition: 0.3s;
  background: #99ddcc;
  color: #141414;
  cursor: pointer;
}

.work-list-item img {
  width: 40%;
  float: left;
}
