.user {
  text-align: center;
}

#profile {
  width: 50%;
  float: left;
}

#work {
  width: 50%;
  float: left;
}

.work-list {
  list-style-type: none;
  margin-right: 20%;
  margin-left: 20%;
}

.work-list-item {
  padding: 10px;
  overflow: auto;
}

.work-list-item:hover {
  transition: 0.3s;
  background: #99ddcc;
  color: #141414;
  cursor: pointer;
}

.work-list-item img {
  width: 30.4%;
  float: left;
}
